* {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    display: flex;
    justify-content: space-around;
}

img {
    align-items: center;
    border: 2px black;
    border-style: hidden;
    border-radius: 200px;
}

.container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -30px;
}

input {
    border-radius: 20px;
    padding: 9px;
    border: 0;
}

#clicker1{
    background-color: rgb(44, 160, 53);
    font-size: 25px;
    margin-right: 20px;
}

#clicker2{
    background-color: rgb(155, 6, 6);
    font-size: 25px;
    margin-left: 20px;
}

input:hover {
    background-color: rgb(44, 160, 53);
}
